* {
	/* border: 2px solid black; */
	text-align: center;
	font-family: "Roboto Mono", monospace;
	padding: 1px;
	/* font-family: 'Roboto', sans-serif; */
}

body {
	max-width: 800px;
	margin: auto;
	min-width: 460px;

	height: 100vh;
}

#headerTop {
	margin: auto;
	text-align: center;
	font-size: 50px;
	margin-top: 20px;
	margin-bottom: 175px;
	color: black;
	font-weight: bolder;
}

.main-div {
	margin: auto;
}

#diffdiv {
	margin-top: 15px;

	margin-bottom: 15px;
}
#diff1,
#diff2,
#diff3,
#diff4 {
}

.bluebg {
	background-image: radial-gradient(
		circle,
		#00ffff,
		#00f3ff,
		#00e7ff,
		#00dbff,
		#00ceff,
		#00b8f6,
		#00a2ea,
		#008cdc,
		#0069be,
		#00479e,
		#00257c,
		#000059
	);
}
.radbg {
	background-image: radial-gradient(
		circle 1500px at 1% 99%,
		rgba(255, 155, 141, 1) 1%,
		rgba(244, 202, 125, 1) 30%,
		rgba(241, 251, 150, 1) 45%,
		rgba(180, 251, 150, 1) 65%,
		rgba(125, 244, 232, 1) 85%,
		rgba(216, 204, 252, 1) 99%
	);
}

.blue22 {
	background-color: #000000;
	background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
}

.darkbg {
	background-color: black;
}

#score-time-container {
	margin: auto;
	display: flex;
	flex-flow: row wrap;
	color: white;
	align-items: center;
}
.highscore {
	color: white;
}

h3 {
	font-size: 2em;
}

#currentWord {
	padding: 10px;
	font-size: 2.5em;
	color: white;
}

#wordInput {
	font-size: 2.2em;
	color: #dbff4a;
	font-weight: bold;
}

/* 
//
//
//
//
 */
.neon-text {
	background-color: rgba(255, 0, 0, 0.04);
	box-shadow: 0 0 70px 20px rgba(255, 0, 0, 0.04);
	margin-bottom: 175px;

	border-radius: 200px;
	letter-spacing: 30px;
	color: #ffd4a4;
	line-height: 0.6;
	filter: drop-shadow(0px 0px 13px #ff3939);
	-webkit-text-stroke: 6px rgba(255, 0, 0, 0.3);
	display: inline-block;
	position: relative;
	animation: glow 170ms ease infinite forwards;
}

@keyframes glow {
	0% {
	}
	50% {
		filter: drop-shadow(0px 0px 15px #ff0000);
	}
	100% {
	}
}

.neon {
	font-family: "Charmonman", cursive;
	color: #ffffff;
	text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #ffffff,
		0 0 20px #ff0000, 0 0 35px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff0000,
		0 0 75px #ff0000;
	animation: blink 1.5s ease-in-out infinite alternate;
}

@keyframes blink {
	from {
		text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff,
			0 0 40px #228dff, 0 0 70px #228dff, 0 0 80px #228dff, 0 0 100px #228dff,
			0 0 150px #228dff;
	}
	to {
		text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #ffffff,
			0 0 20px #ff0000, 0 0 35px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff0000,
			0 0 75px #ff0000;
	}
}
